.first-1{
    background:lightgreen;
    height:60px;
    border-radius: 25px;
}
#first-div{
    width:40%;
}
#htext{
    color:darkblue;
    text-align: right;
}
#second-div{
    width:60%;
}
.second-2{
    background:lightgreen;
    border-radius: 10px;
}
.second{
    background:lightgreen;
    border-radius: 10px;
}
hr{
    height: 1px;
    
}
#img1{
    height:60px;
    object-fit: contain;
    border: 1px solid lightskyblue;
    border-radius: 25px;
    float:left;
}
.img2{
    height:300px;
    object-fit: contain;
    border: 1px solid lightcoral;
    border-radius: 15px;
}
a{
    text-decoration: none;
    font-size: 22px;
}
.a-footer{
    text-decoration: none;
    font-size: 14px;
}
.img2{
    padding:5px;
}
#htext1{
    text-align: center;
}