.first-1{
    background:lightgreen;
    height:60px;
    border-radius: 25px;
}
.second-2{
    background:lightgreen;
    border-radius: 10px;
}
.second{
    background:lightgreen;
    border-radius: 10px;
}
hr{
    height: 1px;
    
}
#img1{
    height:60px;
    object-fit: contain;
    border-radius: 25px;
    float:left;
}
.img2{
    object-fit: contain;
}
a{
    text-decoration: none;
    font-size: 28px;
}
.a-footer{
    text-decoration: none;
    font-size: 14px;
}
.img2{
    padding:5px;
}